<section class="carousel">
    <div class="carousel__container">
        <div class="carousel-item">
            <img class="carousel-item__img" src="assets/img/alienware15.jpg" alt="laptop">
            <div class="carousel-item__details">
                <p class="carousel-item__details--title">titulo</p>
                <p className="carousel-item__details--subtitle">precio</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="assets/img/alienware15.jpg" alt="laptop">
            <div class="carousel-item__details">
                <p class="carousel-item__details--title">titulo</p>
                <p className="carousel-item__details--subtitle">precio</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="assets/img/alienware15.jpg" alt="laptop">
            <div class="carousel-item__details">
                <p class="carousel-item__details--title">titulo</p>
                <p className="carousel-item__details--subtitle">precio</p>
            </div>
        </div>
    </div>
</section>
