<app-corousel-img></app-corousel-img>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<br>
<button *ngIf="esconderCategorias" (click)="regresar()" class="btn btn-regresar" >REGRESAR</button>

<div class="card-columns">

  <ng-container *ngIf="!esconderCategorias">
    <div (click)="buscarProducto('Tecnologia')" class="card text-center">
      <img src="assets/images/products/card1.jpg" class="card-img-top" alt="">
      <div class="card-img-overlay">
          <a  class="btn btn-carrito1 btn-sm btn-categ">TECNOLOGIA</a>
      </div>
  </div>
  <div (click)="buscarProducto('Hogar')" class="card text-center">
      <img src="assets/images/products/muebleria3.jpg" class="card-img-top" alt="">
      <div class="card-img-overlay text-center">
          <a  class="btn btn-carrito btn-sm btn-categ">HOGAR</a>
      </div>
  </div>
  <div (click)="buscarProducto('cel')" class="card text-center">
      <img src="assets/images/products/card3.jpg" class="card-img-top" alt="">
      <div class="card-img-overlay text-center">
          <a  class="btn btn-carrito btn-sm btn-categ">CELULARES</a>
      </div>
  </div>

  <div (click)="buscarProducto('Vestimenta')" class="card text-center">
      <img src="assets/images/products/vestimenta-min.jpg" class="card-img-top" alt="">
      <div class="card-img-overlay text-center">
          <a  class="btn btn-carrito1 btn-sm btn-categ">VESTIMENTA</a>
      </div>
  </div>

  <div (click)="buscarProducto('Deportes')" class="card text-center">
    <img src="assets/images/products/juve.png" class="card-img-top" alt="">
    <div class="card-img-overlay">
        <a  class="btn btn-carrito1 btn-sm btn-categ">DEPORTES</a>
    </div>
  </div>
  <div  (click)="buscarProducto('Instrumentos musicales')" class="card text-center ">
      <img src="assets/images/products/instrumentos.jpg" class="card-img-top" alt="">
      <div class="card-img-overlay text-center">
          <a class="btn btn-carrito btn-sm btn-categ">INSTRUMENTOS</a>
      </div>
  </div>
  </ng-container>

  <ng-container *ngIf="esconderCategorias">
   <!--  <div class="card text-center" *ngFor="let pro of encontrados ; let i = index;">
      <img src="{{pro.images_id.img_route}}" class="card-img-top" alt="">
      <div class="card-img-overlay text-center">
          <a [routerLink]="['/detalle',pro.product_id.id]" href="" class="btn btn-carrito btn-sm"> </a>
      </div>
    </div> -->

    <div class="card text-center" *ngFor="let pro of encontrados ; let i = index;">
      <a [routerLink]="['/detalle',pro.product_id.id]">
        <img src="{{pro.images_id.img_route}}" class="card-img-top" alt="">
      </a>
      <div class=" flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front" >
            <label for="" class="label-desc">
              {{ pro.product_id.name }}
            </label><br/>
            <strong>
              HNL. {{ pro.product_id.price }}
            </strong>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>

