<div class="container">

  <div class="row">

    <div class="col-sm-7 col-md-7 col-lg-7 col-12" >
      <div class="contenedor-img">
        <img src="{{ detalleProducto?.images_id.img_route }}" class="estilo-img img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 col-12">
      <div >

        <h3 for="" class="label-desc">{{ detalleProducto?.product_id.name }}</h3>
        <hr>
        <h5 style="color: rgb(92, 87, 87);">
          Vendedor: {{ detalleProducto?.product_id.user_id.first_name}}
                    {{ detalleProducto?.product_id.user_id.last_name}}
        </h5>
        <h5 style="color: rgb(92, 87, 87);">En existencia</h5>
        <br>
        <br>
        <h3> Precio de venta HNL. {{ detalleProducto?.product_id.price }}</h3>
        <label for="" class="labels">Formas de pago</label><br/>
        <br>
        <div class="row" *ngIf="auth.estaAutenticado()">
          <div class="">
            <div class="paypal-panelDetalle mx-5" >
              <ng-container *ngIf="auth.estaAutenticado()"><app-paypal></app-paypal></ng-container>

            </div>
          </div>
          <div class="mx-4">
            <button type="Button" class="btn btn-carrito mx-3 lg-2" (click)="addCarrito(detalleProducto?.product_id.id)">Agregar al carrito
              <a class="mx-2"><img src="assets/icons/carritoRojo.png" style="width: 20px;" alt=""></a>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="!auth.estaAutenticado()">
          <div class="">
            <div class="paypal-panelDetalle mx-5">

            </div>
          </div>
          <div class="mx-4">
            <a routerLink="/login"><button type="Button" class="btn btn-carrito mx-3 lg-2" >Agregar al carrito
              <a class="mx-2"><img src="assets/icons/carritoRojo.png" style="width: 20px;" alt=""></a>
            </button></a>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="margin-top:50px;">
    <h3>CARACTERISTICAS</h3>

    <table class="tabla-caracteristicas">
      <tr>
        <th>Categoria de Producto: </th>
        <td>{{ detalleProducto?.product_id.category_id.category_name}} </td>
      </tr>
      <tr>
        <th>Descripcion de Categoria: </th>
        <td> {{ detalleProducto?.product_id.category_id.category_description}}  </td>
      </tr>

    </table>
  </div>


  <div style="margin-top: 50px;">
    <h3>DESCRIPCION</h3>
    <p>{{ detalleProducto?.product_id.description}}</p>
  </div>

</div>
