<div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 text-center">
        <h1>Mis Ventas</h1>
        <p>En esta seccion se mostrara un resumen de los productos que has vendido por medio de la aplicacion</p>
    </div>
    <div class="col-md-12 col-xl-12 col-sm-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Comprador</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let venta of ventas['results']">
                <td>{{venta.costumer_user_id.first_name +' ' +venta.costumer_user_id.last_name}}</td>
                <td>{{venta.product_id.name}}</td>
                <td>{{venta.product_id.price}}</td>
                <td>{{venta.date}}</td>
              </tr>
              
            </tbody>
          </table>
          
    </div>
</div>
