
<ng-container *ngIf="cuenta">
<div class="container bootstrap  " *ngIf="cuenta.id==cuenta_id" >
    <form action="">
    <div class="row">
  	<div class="col-sm-3 " ><!--left col-->
      <br>
      <div class="text-center">
        <div class="uno">
            <img src="{{cuenta.user_img.img_route}}" class=" m-0 b-0 p-0 imag" alt="avatar" height="250px" width="250px">
        </div>
        <br>
        <div class="col-sm-10 text-center">
        </div>
        <hr>
        <h5> {{cuenta.first_name +' '+ cuenta.last_name}} </h5></div>
             <input type="file" id="selectedFile" style="display: none;" (change)="fotoSeleccionada2($event)"/>
             <input type="button" class="btn btn-primary btn-lx botones form-control" value="Nueva imagen de perfil" onclick="document.getElementById('selectedFile').click();" />
          <ul class="list-group">
            <li class="list-group-item text-muted">Actividad<i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Se Unio a Phoenix Store el:<br>{{cuenta.date_joined}}</strong></span> 13</li>
          </ul> 
         <br>
        </div>
    	<div class="col-sm-9">
            <ul class="nav nav-pills">
                <li class="nav-item botones"><a class="nav-link active" data-toggle="tab" href="#home">Editando</a></li>
                <!--/col
                <li class="nav-item botones"><a class="nav-link" data-toggle="tab" href="#messages">Menu 1</a></li>
                <li class="nav-item botones"><a class="nav-link" data-toggle="tab" href="#settings">Menu 2</a></li>
              -3-->
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                 <section>
                    <img src="{{cuenta.cover_img.img_route}}" class=" modelo" alt="Responsive image" width="100%" height="300px">
                    <div class="col-md-6 mb-3">
                        <input type="file" id="selectedFile2" style="display: none;" (change)="fotoSeleccionada($event)"/>
                        <input type="button" class="btn btn-primary btn-lx botones" value="Nuevo fondo de usuario" onclick="document.getElementById('selectedFile2').click();" />
                    </div>
                  </section>
              <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-12-col-xl-12 col-sm-12"><span>Si desea actualizar las imagenes selecione ambas</span></div>
                    <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" placeholder="{{cuenta.first_name}}" [(ngModel)]='accountDetail.first_name' name="first_name" #first_name="ngModel"id="first_name" required minlength="5">
                    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="text-danger">
                        <span *ngIf="first_name.errors.minlength" class="text-center" >
                            Debe tener mas de 5 caracteres
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" placeholder="{{cuenta.last_name}}" [(ngModel)]='accountDetail.last_name' name="last_name" #last_name="ngModel" id="last_name" required minlength="5">
                    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="text-danger">
                        <span *ngIf="last_name.errors.minlength" class="text-center" >
                            Debe tener mas de 5 caracteres
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" placeholder="{{cuenta.email}}" [(ngModel)]='accountDetail.email' name="email" #email="ngModel"id="email" required minlength="5">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <span *ngIf="email.errors.minlength" class="text-center" >
                            Debe tener mas de 5 caracteres
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <input type="email" class="form-control" placeholder="{{cuenta.phone_number}}" [(ngModel)]='accountDetail.phone_number' name="phone_number" #phone_number="ngModel" id="phone_number" required minlength="5">
                    <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="text-danger">
                        <span *ngIf="phone_number.errors.minlength" class="text-center" >
                            Debe tener mas de 5 caracteres
                        </span>
                        </div>
                    </div>
                    
                    <div class="form-row col-md-6">
                        <div class="form-group col-md-6">
                            <h6>Fecha nacimiento</h6>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" type="date" name="fecha"  name="birth_day"/>
                        </div>
                        <input class="form-control" type="text"   [(ngModel)]='accountDetail.password' name="password"  value="{{cuenta.password}}" hidden />
                    </div>
                    
                    <div class="form-row col-md-6">
                        <div class=" form-group col-md-6 mb-3">
                            <button type="button" class="btn btn-primary btn-lx botones form-control" (click)="update()">Guardar Cambios</button>
                            <br>
                            
                        </div>
                        <div class=" form-group col-md-6 mb-3">
                            
                            <button type="button" class="btn btn-primary btn-lx form-control text-white" routerLink='/landing' > Cancelar</button>
                        </div>
                        
                    </div>
        
                    

                </div>
            </form>
              <hr>
              
             </div>
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                     
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
            		
               	
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                      </div>
              	</form>
              </div>
               
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</form>
</div><!--/row-->

</ng-container>
                                                      
