<app-navbar></app-navbar>;
<!--IMAGEN GRANDE-->
<div class="card bg-dark text-white" style="text-align: center;padding-top: 0px ;padding-bottom: 0px;">
    <img src="assets/icons/fondo.jpg" class="card-img" alt="..." height="400px" >
    <div class="card-img-overlay" style="padding-top: 50px;">
      <p class="card-title" style="color: whitesmoke; font-size: 70px;font-size: calc(1em + 1vw)"><b><br>¿QUIENES SOMOS?</b></p>
      <p style="color:whitesmoke;  font-size: 50px;font-size: calc(1em + 1vw)"><b>¡Somos tu mejor opción en compras en línea!<br>Brindandote una alta gama de productos a tu alcance.</b></p> <br>
     <p style="color:whitesmoke;  font-size: 50px;font-size: calc(1em + 1vw)"> <b>¡SOMOS PHOENIX STORE!</b><img src="assets/icons/Logotype.png" class="logo__footer" alt="logo" style="height: 70px;width: 100px;"></p>
    </div>
  </div>

<!--CARDS-->
<div class="row row-cols-1 row-cols-md-2 " style="text-align: center;">
    <div class="col mb-4 " >
      <div class="card">
        <img src="assets/icons/mision.jpg" class="card-img-top" alt="..." style="height: 200px;">
        <div class="card-body">
          <h5 class="card-title"> <b>Misión</b>  </h5>
          <p class="card-text" style="color:black">Darte la mejor experiencia en compras en línea,con los mejores precios para ti,siendo responsables con tus productos y entregas.</p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <img src="assets/icons/vision.jpg" class="card-img-top" alt="..." style="height: 200px;">
        <div class="card-body">
          <h5 class="card-title"> <b>Visión</b></h5>
          <p class="card-text " style="color:black">Competir con las mejores empresas ecommerce del mundo,siendo siempre tu mejor opción de compra.</p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <img src="assets/icons/compromiso.jpg" class="card-img-top" alt="..." style="height: 200px;">
        <div class="card-body">
          <h5 class="card-title"><b>Compromiso</b></h5>
          <p class="card-text"  style="color:black">Nos comprometemos a darte siempre lo mejor ,que tu experiencia previa y post compra te haga sentirte lo mas satisfecho posible.</p>
        </div>
      </div>
    </div>
    
  </div>
<app-footer></app-footer>
