<app-navbar></app-navbar>
<main>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>¿Nuevo en nuestra tienda?</h3>
                <p>Quizas quieras crear una cuenta asi bien mamalona
                    para encontrar articulos que te puedan gustar UwU</p>
                <div class="form-group">
                    <a routerLink="/registro" class="btnForgetPwd ">Registrarse</a>
                </div>

            </div>
            <div class="col-md-6 login-form-2">

                <h3>Inicia sessión</h3>
                <p>Ingresa para tener acceso al repertorio de nuestra tienda</p>
                <form (ngSubmit)="login()" [formGroup]="formLogin">
                    <div class="form-group">
                        <input type="email" 
                               class="form-control"
                               placeholder="Usuario"
                               formControlName="username"
                               [class.is-invalid]="correoNoValido"
                              required/>
                        <small *ngIf="correoNoValido" class="text-info">
                            Correo no existe
                        </small>

                    </div>
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Contraseña" 
                               formControlName="password"
                               required />
                        <small *ngIf="passwordNoValida" class="text-info">
                            Contraseña no válida
                        </small>
                        <small *ngIf="status=='Error'" class="text-info">
                            {{message}}
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Ingresar" />
                    </div>
                    <div class="form-group">

                        <a href="#" class="btnForgetPwd " value="Login">¿Olvidó la contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>