<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Productos ( <span *ngIf="cargado">{{totalProductos}}</span> )</h3>
                <hr>
                <img src="assets/images/ecommerce.jpg" alt="" class="w100 img-thumbnail" >
               
            </div>
            <div class="card-footer">
                <button (click)="redirigir('p')" class="btn-block btn-primary">Ver productos</button>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios ( <span *ngIf="cargado">{{totalUsuarios}}</span> )</h3>
                <hr>
                <img src="assets/images/usuarios.png" alt="" class="w100 img-thumbnail" >
               
            </div>
            <div class="card-footer">
                <button (click)="redirigir('u')" class="btn-block btn-primary">Ver Usuarios</button>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Ordenes ( <span *ngIf="cargado">{{totalOrdenes}}</span> )</h3>
                <hr>
                <img src="assets/images/delivery.jpg" alt="" class="w100 img-thumbnail" >
               
            </div>
            <div class="card-footer">
                <button (click)="redirigir('o')" class="btn-block btn-primary">
                    Ver Ordenes
                </button>
            </div>

        </div>
    </div>
</div>
