<div class="container-fluid">
<section id="galeria" class="p-0 m-0">
  <div class="text-center ">
    <h1 class="p-0 m-0" >Mis Productos</h1>
    <div class="row">
      <div class="col-md-4 col-lg-3 col-sm-12"*ngFor="let product of products ">
        <div class="card" >
          <img  src="{{imagen_producto}}" class="img-fluid" alt="galeria">
          <div class="card-text">
            <h3>{{product.name}}</h3>
          <p>{{product.description}}</p>
          <p class="m-0 pb-0"><strong>{{product.price}} {{product.sign}} </strong> </p>
          </div>
        </div>
        <div class="text-center pb-0">
            <p>
            <app-update [product]="product"></app-update>
            <app-delete [product]="product"></app-delete>
            </p>
          </div>
      </div>
      
      
    </div>
  </div>
 
</section></div> 


<!--div class="container-fluid">
  <div class="row">
    <h1 class="text-left pb-3 texto col-md-10 pl-5">Mis Productos</h1>
    <div class="col-md-2"><app-create></app-create></div> 
    
    <div class="card bg-dark text-white text-left col-md-3 mb-3 ml-5 mr-5 p-0 " style="width: 16rem;" *ngFor="let product of products ">
      <img class="card-img" src="{{imagen_producto}}" class="img-fluid" alt="Card image">
      <div class="card-img-overlay ">
        <p class="card-title pb-0">{{product.name}} &nbsp; 
          <app-update [product]="product"></app-update>
          <app-delete [product]="product"></app-delete>
        </p>

      </div>
      <div class="card-body">
        <p class="m-0 pb-0">{{product.description}}</p>
        <p class="m-0 pb-0"><strong>{{product.price}} {{product.sign}} </strong> </p>
      </div>
    </div>
    
  </div>
</div-->
    