<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Orden de producto</h4>
                <hr>
                <div class="alert alert-success" *ngIf="status=='success'">
                    <span>{{ message }}, Llena los datos</span>
                </div>
                
                <form [formGroup]="formProduct" (ngSubmit)="onFormOrder()" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control" 
                                       placeholder="Nombre"
                                       formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class=" col-sm-3 control-label">Precio</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input  type="number"
                                        class="form-control"
                                        placeholder="Precio"
                                        formControlName="precio">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class=" col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input  type="text"
                                        class="form-control"
                                        placeholder="Descripción"
                                        formControlName="descripcion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Categoría</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" formControlName="categoria">
                                    <option value="">Seleccione la Categoria</option>
                                    <option 
                                            ></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" formControlName="usuario">
                                    <option value="">Seleccione el usuario</option>
                                    <option 
                                            ></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</div>