<div style="min-height: 800px;">
  <div class="sidenav d-sm-none d-md-block d-none d-sm-block" style="background-color: rgb(246, 254, 255);">
    <h3 class="centrar-texto" style="font-weight: 700;">CATEGORÍAS</h3>
    <p>
      <a class="" data-toggle="collapse" (click)="buscarProducto('Tecnologia')" class="centrar-texto cat-padre" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ categoria1 }}
      </a>
    </p>
    <div class="collapse show" id="collapseExample">
      <div class="card card-body">
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Comput')" data-toggle="collapse" href="#">Computadoras</a>
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Celular')" data-toggle="collapse" href="#">Celulares</a>
      </div>
    </div>

    <p>
      <a class="" data-toggle="collapse" (click)="buscarProducto('Hogar')" class="centrar-texto cat-padre" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ categoria2 }}
      </a>
    </p>
    <div class="collapse show" id="collapseExample3">
      <div class="card card-body">
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Mueble')" data-toggle="collapse" href="#">Muebles</a>
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Mesa')" data-toggle="collapse" href="#">Mesas</a>

      </div>
    </div>

    <p>
      <a class="" data-toggle="collapse" (click)="buscarProducto('Instrumentos musicales')" class="centrar-texto cat-padre" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ categoria3 }}
      </a>
    </p>
    <div class="collapse show" id="collapseExample4">
      <div class="card card-body">
       <a class="centrar-texto cat-hija" (click)="buscarProducto('Guitarra')" data-toggle="collapse" href="#">Guitarras</a>
       <a class="centrar-texto cat-hija" (click)="buscarProducto('Bateria')" data-toggle="collapse" href="#">Baterias</a>

      </div>
    </div>

    <p>
      <a class="" data-toggle="collapse" (click)="buscarProducto('Deportes')" class="centrar-texto cat-padre" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ categoria4 }}
      </a>
    </p>
    <div class="collapse show" id="collapseExample2">
      <div class="card card-body">
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Camis')" data-toggle="collapse" href="#">Camisetas</a>
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Tacos')" data-toggle="collapse" href="#">Tacos</a>

      </div>
    </div>

    <p>
      <a class="" data-toggle="collapse" (click)="buscarProducto('Vestimenta')" class="centrar-texto cat-padre" href="#buscarTexto" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ categoria5 }}
      </a>
    </p>
    <div class="collapse show" id="collapseExample2">
      <div class="card card-body">
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Camis')" data-toggle="collapse" href="#">Camisetas</a>
        <a class="centrar-texto cat-hija" (click)="buscarProducto('Abrig')" data-toggle="collapse" href="#">Abrigos</a>
      </div>
    </div>


  </div>


  <div class="div-cuerpo">

    <div class="div-busqueda input-group md-form form-sm form-2 pl-0 ">
      <input #buscarTexto (keyup)="buscarProducto(buscarTexto.value)" class="form-control barra-busqueda" type="text" placeholder="Buscar..." aria-label="Search">
      <a (click)="buscarProducto(buscarTexto.value)" ><img class="icono-buscar" src="assets/images/icon/buscar.png" height="38" alt=""></a>
    </div>

    <div class="row" style="margin-right: 1%;">

    <ng-container *ngIf="!terminoCategoria">
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas" *ngFor="let producto of trueArray ; let i = index;">

          <div class="contenedor-img text-center">
            <a [routerLink]="['/detalle',producto.product_id.id]">
            <img src="{{producto.images_id.img_route}}" class="estilo-img img-fluid" alt="">
            </a>
          </div>
          <div class=" flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                <label for="" class="label-desc">
                  {{ producto.product_id.name }}
                </label><br/>
                <strong>
                  HNL. {{ producto.product_id.price }}
                </strong>
              </div>
              <div class="flip-card-back">
                <a (click)="addCarrito(producto.product_id.id)" class="btn btn-carrito">Agregar al carrito</a>
              </div>
            </div>
          </div>

      </div>
    </ng-container>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas" *ngFor="let pro of encontrados ; let i = index;">
        <div class="contenedor-img text-center">
          <a [routerLink]="['/detalle',pro.product_id.id]">
          <img src="{{pro.images_id.img_route}}" class="estilo-img img-fluid" alt="">
          </a>
        </div>
        <div class=" flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" >
              <label for="" class="label-desc">
                {{ pro.product_id.name }}
              </label><br/>
              <strong>
                HNL. {{ pro.product_id.price }}
              </strong>
            </div>
            <div class="flip-card-back">
              <a (click)="addCarrito(pro.product_id.id)" class="btn btn-carrito">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
