<div class="container-banner1">
    <div class="container-banner">
        <div class="container-caption">
            <div>
                <h2 class="title2">Carrito de compras
                    <h4 class="subtitle2">Envios gratis por la situacion del COVID-19</h4></h2>
                <img class="offer1 my-2" src="assets/images/shopping/specialoffers.png" alt="">
                <img class="offer2" src="assets/images/shopping/audifonos.png" alt="">
            </div>
        <div >
        <div>
            <img class="offer3" src="assets/images/shopping/phones.png" alt="">
        </div>
    </div>
</div>
