<div class="carousel-item active">
    <div class="row "  style="text-align: center;margin-right: 1%;">
       <!--Primer Card-->
      <div class="col-3">
        <img src="assets/icons/imagen1.jpg" class="d-block w-100 h-70" alt="..">
        <label for="">Reloj OTTUM dorado</label><br>
        <strong>HNL. 2,000L</strong>
       </div>
       <!--Segunda Card-->
      <div  class="col-3">
        <img src="assets/icons/imagen2.jpg" class="d-block w-100 h-70 " alt=".." > 
      <label for="" >Dell Lattitude i-7 9900k</label><br>
      <strong>HNL. 20,000L</strong>
      </div>
       <!--Tercer Card-->
      <div class="col-3">
        <img src="assets/icons/imagen3.jpg" class="d-block w-100 h-70" alt="">
       <label for="">Ipad Apple</label><br>
        <strong>HNL. 16,000L</strong>
      </div>
      <!--Cuarta Card-->
      <div class="col-3">
        <img src="assets/icons/imagen4.jpg" class="d-block w-100 h-70" alt="gamer">
        <label for="">Ipords 3Gen.</label><br>
        <strong>HNL. 5,000L</strong>
      </div>
  </div>
  </div>
  <!--Segundo slice-->
  <div class="carousel-item ">
    <div class="row " style="text-align: center;">
         <!--Primer Card-->
        <div class="col-3">
          <img src="assets/icons/imagen5.jpg" class="d-block w-100 h-70" alt="alexa">
           <label>Iphone 11 256GB</label><br>
          <strong>HNL. 20,000L><img src="assets/icons/compras.png"></strong>
         </div>
         <!--Segunda Card-->
        <div  class="col-3">
          <img src="assets/icons/imagen6.png" class="d-block w-100 h-70" alt="samsung tablet">
          <label for="">Beats Studio 2Gen.</label><br>
          <strong>HNL. 2,000L</strong>
        </div>
         <!--Tercer Card-->
        <div class="col-3">
          <img src="assets/icons/imagen7.jpg" class="d-block w-100 h-70" alt="ipords">
          <p><b>Cargador Samsung Blanco</b></p>
          <strong>HNL. 20,000L</strong>
        </div>
        <!--Cuarta Card-->
        <div class="col-3">
          <img src="assets/icons/imagen8.jpg" class="d-block w-100 h-70" alt="gamer">
           <label for="">Choromecast Gen3.</label><br>
          <strong>HNL. 1,000L</strong>
        </div>
  </div>
  </div>
