<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar Producto..."
                        #txtTermino
                        />

            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Productos (3)</h4>
                    </div>
                    <div class="col mb-2">
                        <div class="text-right">
                            <a class="btn btn-primary"
                                routerLink="producto">
                                Crear Producto
                            </a>
                        </div>
                    </div>
                </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w100">Foto</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                            <th class="w100 text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Descripcion</td>
                            <td class="text-nowrap text-center">
                                <a 
                                    data-toggle="tooltip" 
                                    class="btn btn-sm btn-warning"
                                    data-original-title="Editar"
                                    
                                    > 
                                    <i class="fa fa-pencil"></i> 
                                </a>

                                <a  
                                    data-toggle="tooltip" 
                                    data-original-title="Borrar"
                                    class="btn btn-sm btn-danger"
                                    
                                    > 
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>