<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar Producto..."
                        #txtTermino
                        />

            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Productos (<span *ngIf="cargado">{{totalProducts}}</span>)</h4>
                        <div class="alert alert-danger" *ngIf="status">
                            <span>{{ message }}</span>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="text-right">
                            <a class="btn btn-primary"
                                routerLink="add">
                                Crear Producto
                            </a>
                        </div>
                    </div>
                </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w100">Foto</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                            <th class="w100 text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>
                                <img [src]="product.images_id.img_route" alt="product" class="w100 cursor" width="60px" height="60px">
                            </td>
                            <td>{{product.product_id.name}}</td>
                            <td>{{product.product_id.price}}</td>
                            <td>{{product.product_id.description}}</td>
                            <td class="text-nowrap text-center">
                                <a 
                                    data-toggle="tooltip" 
                                    class="btn btn-sm btn-warning"
                                    data-original-title="Editar"
                                    [routerLink]="['edit', product.product_id.id]"> 
                                    <i class="fa fa-pencil"></i> 
                                </a>

                                <a  
                                    data-toggle="tooltip" 
                                    data-original-title="Borrar"
                                    class="btn btn-sm btn-danger"
                                    (click)="borrarProducto(product)"> 
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div *ngIf="txtTermino.value.length === 0">
                <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button (click)="cambiarPagina(2)" class="btn btn-secondary">Siguientes</button>
            </div>

            </div>
        </div>
    </div>
</div>