<footer id="footerId">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-sx-12 md-mb-30 sm-mb-30 segment-one">
          <h3>Phoenix Store</h3>
          <p>"Por que lo mas importante siempre son nuestros clientes"</p>
          <img src="assets/images/Logotype.png" class="logo__footer" alt="logo">
        </div>
        <div class="col-md-3 col-sm-6 col-sx-12 md-mb-30 sm-mb-30 segment-two">
          <h2>Navega ya!</h2>
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Compras</a></li>
            <li><a href="">Conocenos</a></li>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-sx-12 md-mb-30 sm-mb-30 segment-three">
          <h2>Siguenos:</h2>
          <p>Apresurate y se parte de la familia del Fenix, te esperamos, por que eres tu quien mueve esta empresa. </p>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-sx-12 md-mb-30 sm-mb-30 segment-four">
          <h2>Contactanos</h2>
          <p>Envia tus comentarios y solicitudes</p>
          <form action="#">
            <input type="email" class="form form-control">
            <input type="submit" value="Enviar" class="form form-control">
          </form>
          
        </div>
      </div>
    </div>
  </div>
  <p class="footer-bottom-text">
    Todos los derechos reservados por &copy; Phoenix Store. 2020
  </p>
</footer>
<!--Comentario de proeba-->

